/NavBar&Table/nbproject/private/
/NavBar&Table/build/
/NavBar&Table/dist/
/WebApplication1/nbproject/private/
/WebApplication2/nbproject/private/
/WebApplication1/build/
/WebApplication3/nbproject/private/
/Jsf/nbproject/private/
/Jsf/build/
/Jsf/dist/
/JsfTest/nbproject/private/
/JsfTest/build/
